.normal {
  display: none;
  width: 100%;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  line-height: 30px;
  transform: perspective(200px) rotateX(25deg);
}

.active {
  width: 100%;
  height: 200px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  line-height: 30px;
  transform: perspective(200px) rotateX(25deg);
}

.active div {
  animation: scroll 25s linear infinite;
  position: relative;
  transform: perspective(200px) rotateX(25deg);
}


@keyframes scroll {
  0% {
    transform: translateY(30%);

   }
  100% {
    transform: translateY(-120%);
  }
}

.noDisplay {
  display: none;
}

h2, h3, h4 {
  font-family: 'Sigma Five Marquee Bold Italic';
  font-weight: 200;
  color: yellow;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiU9aOrMLCBXYOeWrr6Tuw1bNPjGaFw_IbIm60Psg9Ckjv10lkpQ);
}

label {
  color: yellow;
}

#card {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiU9aOrMLCBXYOeWrr6Tuw1bNPjGaFw_IbIm60Psg9Ckjv10lkpQ);
}

p, li {
  font-family: 'News Gothic MT Bold';
  font-weight: 200;
  color: yellow;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiU9aOrMLCBXYOeWrr6Tuw1bNPjGaFw_IbIm60Psg9Ckjv10lkpQ);
}
